<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site_data.stylesheet_path }}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    {% block heading %}<h1>Page heading</h1>{% endblock %}
    {% block body %}<p>Page body</p>{% endblock %}
</body>
</html>
