<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site_data.css_dir / site_data.stylesheet }}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <nav><a href="{{ site_data.homepage }}">Home</a></nav>
    <main>
        {% block heading %}<h1>Page heading</h1>{% endblock %}
        {% block body %}<p>Page body</p>{% endblock %}
    </main>
</body>
</html>
