{% extends "page.html.jinja" %}

{% block title %}{{ record.name }}{% endblock %}

{% block heading %}
    <h1>{{ record.name }}</h1>
    <p>{{ record.tagline }}</p>
{% endblock %}

{% block body %}
    {{ record.description }}

    {% block mentions %}
        <section>
            <h2>Mentioned by:</h2>
            <ul>
            {% for m in mentions %}
                <li>{{ m }}</li>
            {% endfor %}
            </ul>
        </section>
    {% endblock %}

{% endblock %}
