{% extends "page.html.jinja" %}

{% block title %}{{ record.name }}{% endblock %}

{% block heading %}
    <h1>{{ record.name }}</h1>
    <p>{{ record.tagline }}</p>
{% endblock %}

{% block body %}
    {{ record.description }}

    {% block mentions %}
        <section>
            <h2>Mentioned by:</h2>
            <ul>
            {% for m in mentions %}
                <li>{{ m }}</li>
            {% endfor %}
            </ul>
        </section>
    {% endblock %}

    {% block gallery %}
        <section>
            {% if record.gallery %}
                <h2>Gallery</h2>
                {% for image in record.gallery %}
                    <figure>
                        <img src="{{ site_data.img_dir }}/{{ image.path }}">
                        <figcaption>{{ image.caption }}</figcaption>
                    </figure>
                {% endfor %}
            {% endif %}

        </section>
    {% endblock %}
{% endblock %}
